.switch-container label {
    
    width:80px;
    height:40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;

  }

  .switch-container label:after {
    content: "";
    width:40px;
    height: 40px;
    position: absolute;
    /* top:10px; */
    /* left:10px; */
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }

  .switch-container input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .switch-container input:checked + label {
    background: #242424;
  }
  
  .switch-container input:checked + label:after {
    /* left:80px; */
    /* transform: translateX(-100%); */
    right: 0;
    background: linear-gradient(180deg,#777,#3a3a3a);
  }

  .switch-container label, label:after {
    transition: 0.3s
  }

  .switch-container label:active:after{ 
    width: 80px; 
  }


  .switch-container label svg {
    position: absolute;
    z-index: 100;
  }

  .switch-container label svg.sun {
    left: 7px;
    top: 6px;
    fill:#fff;
    transition: 0.3s;
  }
  
  .switch-container label svg.moon {
    top: 6px;
    right: 7px;
    fill:#7e7e7e;
    transition: 0.3s;
  }

  .switch-container input:checked + label svg.sun {
    fill:#7e7e7e;
  }

  .switch-container input:checked + label svg.moon {
    fill:#fff;
  }

  @media only screen and (max-width: 600px) {
    .switch-container label {
      width:70px;
      height:35px;
    }

    .switch-container label:after {
      content: "";
      width:35px;
      height: 35px;
    }

    .switch-container label:active:after{ 
      width: 70px; 
    }
  }