.portfolioPage{
    padding-bottom:100px ;
    animation: animate-fade-top 0.7s ease-in-out ;
}

.portfolioPage .portfolioPage-body{
    display: grid;
    grid-template-columns: repeat(4 ,15rem);
    row-gap: 110px;
    column-gap: 30px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 1200px) {
    .portfolioPage .portfolioPage-body{
        grid-template-columns: repeat(3 , 15rem);
    }
}

@media screen and (max-width: 990px) {
    .portfolioPage .portfolioPage-body{
        grid-template-columns: repeat(2 , 15rem);
        gap: 20px;
    }
}
@media screen and (max-width: 600px) {
    .portfolioPage .portfolioPage-body{
        grid-template-columns: 1fr;   
        gap: 30px;     
    }
}
